.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.chatInput > form > input {
  /* position: fixed;
  bottom: 30px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px; */
  flex: 0.8;

  padding: 15px;

  width: 450px;
}

.chatInput > form > Button {
  flex: 0.2;
  font-weight: 700;
  color: black;
}
