.Chat {
  flex: 1;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 80px;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid lightgray;
  background-color: white;
  position: sticky;
  top: 0px;
}
.chat__headerright > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.chat__headerright > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
}
.chat__channelName {
  text-transform: lowercase;
  display: flex;
}
.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}
