.header {
  display: flex;
  align-items: center;
  background-color: var(--slack-color);
}

.header__Left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.header__Left > .MuiSvgIcon-root {
  margin-left: 2%;
  color: white;
}

.header__serach {
  flex: 0.4;
  display: flex;
  text-align: center;
  /* padding: 0 50px; */
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
}
.header__right {
  flex: 0.3;
  padding-left: 2%;
}
.header__right > .MuiSvgIcon-root {
  color: white;
}

.header__serach > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 30vw;
  color: white;
  flex: 0.9;
}
.header__SearchIcon {
  flex: 0.1;
  color: white;
}
